body, html, #main { width: 100%; height: 100%; margin: 0; padding: 0; }

body, html {
	font-family: 'Segoe UI';
	overflow: hidden;
}

body { background: #222; }

@media (min-width: 768px) and (max-width: 991px) {
	body { font-size: 12px; }
}
@media (min-width: 992px) and (max-width: 1280px) {
	body { font-size: 13px; }
}
@media (min-width: 1281px) and (max-width: 1600px) {
	body { font-size: 14px; }
}

@media (min-height: 0px) and (max-height: 650px) {
	.max-height { max-height: 280px; overflow-y: auto; overflow-x: hidden; }
}
@media (min-height: 651px) and (max-height: 1280px) {
	.max-height { max-height: 330px; overflow-y: auto; overflow-x: hidden; }
}


ol > li, ul > li { list-style-type: none; }
img { height: 100%; }

/* CLASES GENERAL */
panel.panel-success { margin-top: 25px; }
.panel-body { vertical-align: middle; line-height: 30px; padding: 10px; }
.wrapper { margin-top: 55px; padding: 8px; }

div.navbar.navbar-default.navbar-fixed-top { font-size: 0.9em; }
ul.nav li:not(.not-hover) a:hover { background-color: #dff0d8 !important; }

.hidden  { display: none; }
.border-bottom { border-bottom: solid 1px dashed; }
.underline { text-decoration: underline; }

.divLogin { border: solid 1px #ccc; padding: 10px; }
.divSelect { width: 100%; height: 70px; }

.padR-scroll { padding-right: 17px; }
.round-border { border-radius: 5px; }

.fondo-brasil 			{ background: #ffe url('../img/Logo_Brasil2014.png') no-repeat; }
.fondo-brasil-login 		{ background-position: 7% 78%; background-size: auto 140px; /* width height */ }
.fondo-brasil-register 	{ background-position: 3% 58%; background-size: auto 190px; /* width height */ }
.fondo-brasil-fixture 	{ background-position: 25px 10px; background-size: auto 100px; /* width height */ }

.form-polla { width: 250px; }
.show-logo { margin: 0 0 12px 110px; }

/* RANKING */
.NumRank { width: 30px; }
.NombreRank { width: 150px; }
.CartonRank { width: auto; }
.PuntosRank { width: 70px; }
.CartonPagado { width: 80px; }

.divHeaderAdminCartones, .divAdminCartones { text-align: center; }

.divHeaderRanking, .divHeaderAdminCartones { font-weight: bold; padding-right: 17px; }
.divRanking, .divAdminCartones { max-height: 270px; overflow-y: auto; padding-right: 17px; }

.divHeaderRanking > table > tbody > tr:first-child > td,
.divRanking > table > tbody > tr:first-child > td,
.divHeaderAdminCartones > table > tbody > tr:first-child > td,
.divAdminCartones > table > tbody > tr:first-child > td { border-top: 0px; }

.divHeaderRanking > table > tbody > tr:first-child > td,
.divHeaderAdminCartones > table > tbody > tr:first-child > td { border-bottom: solid 2px #ddd; }

/* APUESTAS */
.rLocal { text-align: right; }
.rVisita { text-align: left; }
.tdScore.right { padding-right: 3px; }
.tdScore.left { padding-left: 3px; }
.LocalPT, .LocalPTR, .LocalTER, .LocalPeR { text-align: right; padding-right: 3px; }
.VisitaPT, .VisitaPTR, .VisitaTER, .VisitaPeR { text-align: left; padding-left: 3px; }

/* Estilos para Tablas de Apuestas y Resultados */
@media (min-width: 992px) and (max-width: 1280px) {
	.tdMatch { width: 40px; }
	.tdGrupo { width: 40px; }
	.tdGrupoFixture { width: 90px; }

	.tdMarcadorPT { width: 100px; }
	.LocalPT { width: 50px; } /* LA MITAD */
	.VisitaPT { width: 50px; } /* LA MITAD */

	.tdDOW { width: 40px; }
	.tdFecha { width: 100px; }
	.tdHora { width: 70px; }
	.tdHoraNG { width: 35px; padding: 0; }
	.rEquipo, .tdEquipo { width: 150px; }
	.arEquipo { width: 130px; } /* PARA APUESTAS */

	.tdScore { width: 35px; }
	.flags { width: 25px; }
	.med-flags { width: 35px; }

	.tdCiudad { width: 110px; }
	.tdEstadio { width: 140px; }
	/* APUESTAS */

	/* RESULTADOS */
	.tdMatchR, .tdRondaR { width: 50px; }
	.tdGrupoR { width: 55px; }
	.arEquipoR { width: 150px; }
	.tdMinutoR { width: 105px; }
	.tdJugPrimerGolR { width: 175px; }
	.tdMarcadorPTR { width: 126px; }
	.LocalPTR, .VisitaPTR { width: 63px; }
	.LocalTER, .VisitaTER { width: 63px; }
	.LocalPeR, .VisitaPeR { width: 63px; }
	/* RESULTADOS */

	.tdMinuto { width: 80px; }
	.tdPrimerT { width: 70px; }
	.tdJugPrimerGol, .tdJugPrimerGol.right { width: 160px; padding: 3px; }
	.tdPuntos { width: 58px; padding: 0.5px; }
}
@media (min-width: 1281px) and (max-width: 1600px) {
	.tdMatch { width: 40px; }
	.tdGrupo { width: 45px; }
	.tdGrupoFixture { width: 100px; }

	.tdMarcadorPT { width: 110px; }
	.LocalPT { width: 55px; } /* LA MITAD */
	.VisitaPT { width: 55px; } /* LA MITAD */

	.tdDOW { width: 40px; }
	.tdFecha { width: 110px; }
	.tdHora { width: 80px; }
	.tdHoraNG { width: 40px; padding: 0px; }
	.rEquipo, .tdEquipo { width: 160px; }
	.arEquipo { width: 140px; } /* PARA APUESTAS */


	.tdScore { width: 35px; }
	.flags { width: 25px; }
	.med-flags { width: 35px; }

	.tdCiudad { width: 120px; }
	.tdEstadio { width: 150px; }
	/* APUESTAS */

	/* RESULTADOS */
	.tdMatchR, .tdRondaR { width: 50px; }
	.tdGrupoR { width: 55px; }
	.arEquipoR { width: 150px; }
	.tdMinutoR { width: 105px; }
	.tdJugPrimerGolR { width: 175px; }
	.tdMarcadorPTR { width: 126px; }
	.LocalPTR, .VisitaPTR { width: 63px; }
	.LocalTER, .VisitaTER { width: 63px; }
	.LocalPeR, .VisitaPeR { width: 63px; }
	/* RESULTADOS */

	.tdMinuto { width: 60px; }
	.tdPrimerT { width: 75px; }
	.tdJugPrimerGol, .tdJugPrimerGol.right { width: 160px; padding: 3px; }
	.tdPuntos { width: 61px;  padding: 0.5px; }
}

div > table.table { margin-bottom: 0px; }

.thStatsNumero { width: 40px; }
.thStatsPosicion { width: 130px; }
.thStatsNombre { width: 230px; }
.thStatsClub { width: 170px; }
.thStatsClub2, .thStatsPais { width: 350px; }
/* CLASES GENERAL */ 

/*
 * TABLAS
 */
table.next-games, table.next-games-header > tbody tr td,
table.apuestas, table.apuestas-header > tbody tr td,
table.fixture, table.fixture-header > tbody tr td,
table.resultados, table.resultados-header > tbody tr td,
table.stats-equipos, table.stats-equipos-header > tbody tr td,
.cartones-content > tbody tr, .table-cartones tr, .table-cartones td
 { text-align: center; }

table.next-games-header > tbody tr td, 
table.apuestas-header > tbody tr td,
table.fixture-header > tbody tr td,
table.resultados-header > tbody tr td,
table.stats-equipos-header > tbody tr td {
	border-bottom: 2px solid #ccc; 
	padding: 2px 0px; 
	vertical-align: middle;
	font-weight: bold; 
}

table.next-games, table.next-games-header { font-size: 0.9em; }
table.apuestas, table.apuestas-header { font-size: 0.9em; }
table.fixture, table.fixture-header { font-size: 0.9em; }
table.resultados, table.resultados-header { font-size: 0.9em; }
table.stats-equipos, table.stats-equipos-header { font-size: 0.9em; }
table.admin-cartones, table.admin-cartones-header { font-size: 0.9em; }

table.next-games > tbody tr:first-child td, table.next-games-header > tbody tr:first-child td,
table.apuestas > tbody tr:first-child td, table.apuestas-header > tbody tr:first-child td,
table.fixture > tbody tr:first-child td, table.fixture-header > tbody tr:first-child td,
table.resultados > tbody tr:first-child td, table.resultados-header > tbody tr:first-child td,
table.stats-equipos > tbody tr:first-child td, table.stats-equipos-header > tbody tr:first-child td
 { border-top: 0px; }

table.apuestas td:first-child,
table.fixture td:first-child,
table.resultados td:first-child,
.table-cartones > tbody > tr:first-child
 { font-weight: bold; } 
 
table.apuestas > tbody tr td,
table.fixture > tbody tr td
 { padding: 1px 0px; vertical-align: middle; line-height: 20px; }

table.apuestas-header > tbody tr td.rLocal, table.resultados-header > tbody tr td.rLocal { text-align: right; }
table.apuestas-header > tbody tr td.rVisita, table.resultados-header > tbody tr td.rVisita { text-align: left; }

/* .table-apuestas { max-width: 940px; margin: 0 0 0 10px; } */
.table-apuestas { margin: 0 10px 0 10px; }
.table-cartones tr, .table-cartones td { line-height: 35px; }
.table-cartones > tbody > tr > td { border-top: solid 0px; }

.cartones-content > tbody > tr > td, .table-cartones > tbody > tr > td { padding: 2px; line-height: 28px; }

.table-fixture { width: auto; margin: 0 auto; }
.fixture-ronda { max-height: 400px; overflow-y: auto; width: 100% }

table.resultados > tbody tr td { padding: 1px 0px; vertical-align: middle; }
table.table-resultados { width: auto; margin: 0 0 0 200px; }
table.stats-equipos > tbody tr td { padding: 2px 0px; }


/* LOGIN + REGISTER */
#login_wrpr { width: 600px; }
#register_wrpr { width: 650px; }
/* LOGIN + REGISTER */

/* MAIN */
#divtblRanking { font-size: 0.9em; }
#divtblRanking table { text-align: center; }

#divtblRanking, #divProxPartidos, #divRedesSociales { padding-right: 0px; }
#divAdminCartones, #divAdminResults { padding-right: 0px; }

.searchInput { width: 170px; margin-left: 10px; border-color: green; }
.searchEquipo, .searchRank, .searchCarton { width: 170px; }
.searchRank { margin-right: 17px; }
/* MAIN */

/* ADMIN */
#divAdminCartones table { text-align: center; }
/* ADMIN */

/* GRUPOS */
#grupos_wrpr { /* width: 1100px; */ }
.group-border { border: solid 1px #ccc; }
.group-table thead th, .group-table { text-align: center; margin-bottom: 0px; }
.group-table > thead > tr > th, .group-table > tbody > tr > td { padding: 3px 0px; }
.tdNumeroGrupos { width: 20px; }
.tdEquipoGrupos { width: 123px; }
.tdPuntosGrupos { width: 27px; }
#divtblGrupos div.panel-body { padding: 0px; font-size: 0.86em; }
#divtblGrupos { overflow: auto; width: 100%; height: 75%; }
/* GRUPOS */

/* FIXTURE */
#fixture_wrpr { /* width: 1100px; */ }
#divtblFixture { /* overflow: auto; */ width: 100%; height: 75%; } 
.div-fixture-header { margin-top: 10px; } 
.btn-descarga-fixture { height: 30px; padding: 5px 10px; }
/* FIXTURE */

/* RESULTADOS */
#divtblResultados { width: 100%; /* height: 75%; max-height: 400px; overflow-y: auto; width: 100%; */ }
#tblResultados { padding: 0px; max-height: 400px; overflow-y: scroll; height: auto; }
/* RESULTADOS */

/* APUESTAS */
.Loading { font-weight: bold; text-align: center; padding-top: 25px; }
button.btn-guardar { background-color: #47a447; border-color: #398439; color: #fff; }
p.p-apuesta { font-size: 1.2em; height: 35px; line-height: 35px; }
#apuestas_wrpr { /* width: 1100px; */ }
#divtblApuestas { overflow-y: auto; overflow-x: hidden; /*width: 90%;*/ height: 65%; }

.select-apuestas { padding: 0px; line-height: 22px; height: 22px; font-size: 0.9em; width: 150px; }
.input-goles-apuesta { width: 30px; height: 22px; text-align: center; }
.input-minuto-apuesta { width: 30px; height: 22px; text-align: center; }

.descrip-carton { max-width: 100px; height: 24px; line-height: 24px; font-size: 0.85em; text-align: center; }
.icon { height: 15px; }
.icon-med { height: 20px; }

#NombreCarton, button.btn-success, button.btn-info, button.btn-warning, button.btn-danger { float: left; }
#NombreCarton, button.btn-success, button.btn-info, button.btn-warning, button.btn-danger { margin-left: 10px; }
#NombreCarton { width: 290px; }

#divNuevaApuesta { height: 35px; margin-bottom: 10px; }

.btnCarton, #btnGuardarTablaApuesta { height: 25px; padding: 2px 3px; }
.btn-ver-carton { height: 30px; line-height: 30px; padding: 0px 6px; }
.carton-active { color: #fff; background-color: #47a447; border-color: #398439; }

#btnUpdateCartonPagado, #btnUpdateResults { height: 30px; padding: 2px 6px; }
.heading-cartones { line-height: 25px; }
.body-cartones { padding: 0px; }

#divApuestasUser > .panel { margin: 0px; }
#cartonesUserHeader { padding-right: 20px; }
#cartonesUserList { padding: 0px; max-height: 350px; overflow-y: scroll; height: auto; }
#cartonesUserHeader, #cartonesUserList { font-size: 0.88em; }

.tdNumeroCarton { width: 40px; }
.tdPagado { width: 75px; }
.tdAccion { width: 40px; }
#newCartonInputs { height: 0px; }
#btnGuardarTablaApuesta { width: 70px; }

.panel-cartones { margin-bottom: 5px; }
.spanCartones { font-size: 1.1em; }
#spanCartones, #ListaBtnCartones, #InfoCarton, .panel-lista-cartones { line-height: 42px; height: 42px; }
.panel-lista-cartones { padding: 0px; }
#spanCartones { padding-right: 0px; }
#ListaBtnCartones { padding: 6px 0px; min-width: 150px; }
#ListaBtnCartones > p.Loading { padding: 0px 0px 0px 25px; margin: 0px; margin-top: -6px; text-align: left; }

#InfoCarton { padding: 3px; }
#InfoCarton > div.btn-group.btn-group-justified { height: 37px; }
div.btn-group.btn-group-justified div:not(:last-child) > button.btn-sm { border-right: 0px; }
.badge-puntos-carton { background-color: #3a87ad; }
.badge-puntos-carton:hover { background-color: #2d6987; }

#InputsNuevoCarton { height: 34px; padding: 0px; margin-bottom: 5px; }
#InputsNuevoCarton > input { margin-left: 0px; }

.ul-admin, .ul-rondas { margin-bottom: 10px; }
.ul-rondas  li > a { padding: 8px; }
/* APUESTAS */

/* SELECCIONES */
 #divtblSelecciones { overflow: none; width: 100%; height: 75%; padding: 0px 10px; }
 #divtblSelecciones > div.col-md-2 { border-right: solid 1px #ccc; border-bottom: solid 1px #ccc; border-bottom-right-radius: 5px; width: 215px; }
 #statsEquipo { margin-bottom: 10px; }
 #CurrentTeam { height: 35px; line-height: 35px; margin-bottom: 5px; }
 #dropEquipos > ul li.dropdown  > a { width: 190px; border-radius: 5px; }
 #dropEquipos > ul li.dropdown  > a > b.caret { margin-left: 90px; }
 #statsEquipo > ul li > a { padding: 5px; } 
/* SELECCIONES */

/* BASES */
.table-bases { font-size: 0.9em; }
.table-bases > thead th td, .table-bases > tbody tr td { padding: 3px; }
.bases-content { padding: 10px 10px 0px 10px; font-size: 1.1em; }
th.bases-puntos, td.bases-puntos { text-align: center; }
#divtblBases p { margin: 0 0 5px 0px; }
.li-bases { height: 30px; line-height: 30px; margin-bottom: 4px; }
/* BASES */